html{
    font-size: medium;
    height: 100%;
    min-height: 100%;
    width: 100%;
    min-width: 100%;
}
body{
    background-color: #ffffff;
    font-family: arial, sans-serif;
    margin: 0;
    padding: 0;
}
/*navbar*/
nav{
    margin-bottom: 20px;
    padding: 7px 25px 20px 10px;
}
#top{
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: 20px;
    grid-template-columns: 1fr 50px 50px 40px 40px;
    list-style-type: none;
}

a{
    text-decoration: none;
    font-size: small;
    color: #222222;
}    
#jota img{
    height: 32px;
    width: 32px;
    border-radius: 50px;
    
}
#apps img{
    padding: 0px 10px 0px 0px;
    height: 24px;
    width: 24px;
    filter: invert(40%);
    justify-content: center;
    align-content: center;
}
#apps img:hover{
    filter: invert(0%);
}
#gmail:hover, #imagens:hover{
    text-decoration: underline;
}
#gmail{
    padding-right: 35px;
    
}
#imagens{
    padding-right: 25px;
}
/*main*/
main{
    display: grid;
    align-content: center;
    justify-content: center;
    margin-top: 120px; 
}
#logo{
    align-self: center;
    justify-self: center;
}
#barra{
    width: 600px;
    height: 45px;
    margin-top: 30px;
    border-radius: 20px;
    border: 1px solid #dfe1e5;
    padding: 0px 0px; 
    padding-left: 25px;
    outline: none;
    font-size: 18px;
    text-align: left;
}
#barra:hover{
    border-color: #a0a0a0 #b9b9b9 #b9b9b9 #b9b9b9;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    width: 603px;
    height: 47px;
}
#botao{
    margin: 30px 4px 10px 0px;
    align-self: center;
    justify-self: center;
    background-color: #ffffff;
}
#pesquisa{
    border: none;
    color: #5F6368;
    border-radius: 4px;
    padding: 12px;
    font-size: 14px;
    margin-right: 5px;
    width: 140px;
    height: 39px;
    outline: none;
    display:inline-block;
}
#sorte{
    border: none;
    color: #5F6368;
    border-radius: 4px;
    padding: 12px;
    font-size: 14px;
    margin-left: 5px;
    width: 140px;
    height: 39px;
    outline: none;
    display:inline-block;
}
#pesquisa:hover{
    cursor: pointer;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border: 1px solid #c6c6c6;
    color: #222;
}
#sorte:hover{
    cursor: pointer;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border: 1px solid #c6c6c6;
    color: #222;
}
#disponibilizado{
    margin-top: 25px;
    align-self: center;
    justify-self: center;
    font-size: small;
}
#english{
    color: darkblue;
}
#english:hover{
    text-decoration: underline;
}
/*footer*/
footer{
    display: grid;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f2f2f2;
    border: 1px solid #e4e4e4;
}
#brasil{
    display: grid;
    color: rgba(0,0,0,.54);
    margin: 10px 0px 5px 30px;
    font-size: medium;
    align-self: center;
    justify-self: left;
    font-size: 15px;
}
#bottom{
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: 30px;
    grid-template-columns: 50px 100px 30px 230px 1fr 70px 70px 80px 120px;
    list-style-type: none;
    padding: 0 40 0 40;
    margin: 10px 0px 5px 0px;
    border-top: 1px solid #e4e4e4;
    height: 30px;
}
#publicidade{
    font-size: 14px;
    color: #5f6368;
    line-height: 20px
}
#negocios{
    font-size: 14px;
    color: #5f6368;
    padding-left: 20px;
}
#sobre{
    font-size: 14px;
    color: #5f6368;
    padding-left: 20px;
}
#como{
    font-size: 14px;
    color: #5f6368;
    padding-left: 5px;
}
#privacidade{
    font-size: 14px;
    color: #5f6368;
    padding-right: 45px
}
#termos{
    font-size: 14px;
    color: #5f6368;
    padding-right: 45px;
}
#configuracoes{
    font-size: 14px;
    color: #5f6368;
    padding-right: 30px;
}
#usar{
    font-size: 14px;
    color: #5f6368;
}
#publicidade:hover, #negocios:hover, #sobre:hover, #como:hover, #privacidade:hover, #termos:hover, #configuracoes:hover, #usar:hover{
    text-decoration:underline;
}
